DOCKERHUB_NAMESPACE=your-dockerhub-username
IMAGE_TAG=0.1.0
COMPOSE_PROJECT_NAME=devops-course
NGINX_PORT=8080
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app_dev_password
UID=1000
GID=1000
